<h1 class="mt-4">Serviços</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ servico.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container-fluid">
  <form #servicoForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <!--alerta inicio-->
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf = "success == true">
          Serviço salvo/atualizado com sucesso!!!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor = "let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>
      <!--alerta fim-->
    <div class="row">
      <div class="col-md-1" *ngIf="servico.id">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" [ngModel]="servico.id" name="id" class="form-control" disabled="true"  />
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label>Descrição: *</label>
          <input type="text" class="form-control" [(ngModel)]="servico.descricao" name="descricao"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Preço de Custo: *</label>
          <!--<input type="text" class="form-control" [(ngModel)]="servico.precoCusto" name="precoCusto" /> -->
          <p-inputNumber [(ngModel)]="servico.precoCusto" mode="decimal" locale="pt-BR" [minFractionDigits]="2" name="precoCusto" ></p-inputNumber>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Preço de Venda: *</label>
          <!-- <input type="text" class="form-control" [(ngModel)]="servico.precoVenda" name="precoVenda"/> -->
          <p-inputNumber [(ngModel)]="servico.precoVenda" mode="decimal" locale="pt-BR" [minFractionDigits]="2" name="precoVenda" ></p-inputNumber>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!servico.id"> <i class="fa fa-save"></i> Salvar</button>
        <button type="submit" class="btn btn-primary" *ngIf="servico.id"> <i class="fa fa-sync-alt"></i> Atualizar</button>
        <button type="button" class="btn btn-danger ml-2" (click)="voltarParaListagem()"> <i class="fa fa-arrow-alt-circle-left"></i> Voltar</button>      </div>
    </div>
  </form>
</div>

