<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ cliente.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container-fluid">
  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <!--alerta inicio-->
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf = "success == true">
          Cliente salvo/atualizado com sucesso!!!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor = "let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>
      <!--alerta fim-->
    <div class="row">
      <div class="col-md-1" *ngIf="cliente.id">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" [ngModel]="cliente.id" name="id" class="form-control" disabled="true"  />
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label>Nome: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>CPF: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf" maxlength="11" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Telefone:</label>
          <p-inputMask mask="(99) 999-999999" [(ngModel)]="cliente.telefone" name="telefone" placeholder="(DD) XXX-XXXXXX"></p-inputMask>
          <!--<input type="text" class="form-control" [(ngModel)]="cliente.telefone" name="telefone"/> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>E-mail:</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" />
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <label>UF:</label>
          <!--<input type="text" class="form-control" [(ngModel)]="cliente.uf" name="uf"/>-->
          <p-dropdown [options]="distritosBrasil" [(ngModel)]="cliente.uf" name="uf" ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!cliente.id"> <i class="fa fa-save"></i> Salvar</button>
        <button type="submit" class="btn btn-primary" *ngIf="cliente.id"> <i class="fa fa-sync-alt"></i> Atualizar</button>
        <button type="button" class="btn btn-danger ml-2" (click)="voltarParaListagem()"> <i class="fa fa-arrow-alt-circle-left"></i> Voltar</button>
      </div>
    </div>
  </form>
</div>
