<h1 class="mt-4 col-md-6">Agendamentos</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-bitem active col-md-6">Consulta</li>
</ol>
<div class="container">
  <form #consultaForm="ngForm" (submit)="consultar()">
    <div class="row">
      <div class="col-md-6">
        <label for="inputNome"> Nome do Cliente:</label>
        <input type="text" [(ngModel)]="nome" name="nome" id="inputNome" class="form-control">
      </div>

      <div class="col-md-6">
        <label for="inputMes"> Mês:</label>
        <select [(ngModel)]="mes" class="form-control" name="mes">
          <option value="">Selecione...</option>
          <option *ngFor="let mes of meses" [value]="mes">{{mes}}</option>
        </select>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-5">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i>Pesquisar
        </button>

        <button type="button" routerLink="/agendamentos-form" class="btn btn-warning ml-2">
          <i class="fa fa-plus"></i>Novo
        </button>

        <button type="button" class="btn btn-success ml-2" (click)="ngOnInit()"><i class="fa fa-align-justify"></i>
          Listar todos</button>
      </div>
    </div>
  </form>

  <br />
  <div class="alert alert-warning" role="alert" *ngIf="message">
    {{ message }}
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Observação</th>
            <th>Funcionario</th>
            <th>Serviço</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of agendamentoBuscaLista">
            <td>{{a.cliente.nome}}</td>
            <td>{{a.data}}</td>
            <td>{{a.hora}}</td>
            <td>{{a.observacao}}</td>
            <td>{{a.funcionario.nome}}</td>
            <td>{{a.servico.descricao}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>