<h1 class="mt-4">Serviços</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click)="novoCadastro()"><i class="fa fa-plus"></i> Novo</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condense table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Preço de Custo</th>
            <th>Preço de Venda</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of servicos">
            <td>{{s.id}}</td>
            <td>{{s.descricao}}</td>
            <td>{{s.precoCusto}}</td>
            <td>{{s.precoVenda}}</td>
            <td>
              <button class="btn btn-primary" routerLink="/servicos-form/{{s.id}}">
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

