<h1 class="mt-4">Funcionarios</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click)="novoCadastro()"><i class="fa fa-plus"></i> Novo</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condense table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Login</th>
            <th>Senha</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Comissão</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of funcionarios">
            <td>{{f.id}}</td>
            <td>{{f.nome}}</td>
            <td>{{f.cpf}}</td>
            <td>{{f.login}}</td>
            <td>{{f.senha}}</td>
            <td>{{f.email}}</td>
            <td>{{f.telefone}}</td>
            <td>{{f.comissao}}</td>
            <td>
              <button class="btn btn-primary" routerLink="/funcionarios-form/{{f.id}}">
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
