<h1 class="mt-4 col-md-6">Funcionarios</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active col-md-6">Consulta</li>
</ol>
<div class="container">
  <!--alerta inicio-->
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="menssagemSucceso">
        {{ menssagemSucceso }}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="menssagemErro">
        {{ menssagemErro }}
      </div>
    </div>
  </div>
  <!--alerta fim-->
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click)="novoCadastro()"><i class="fa fa-plus"></i> Novo</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condense table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Login</th>
            <th>Senha</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Comissão</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of funcionarios">
            <td>{{f.id}}</td>
            <td>{{f.nome}}</td>
            <td>{{f.cpf}}</td>
            <td>{{f.login}}</td>
            <td>{{f.senha}}</td>
            <td>{{f.email}}</td>
            <td>{{f.telefone}}</td>
            <td>{{f.comissao}}</td>
            <td>
              <button class="btn btn-primary" routerLink="/funcionarios/form/{{f.id}}">
                <i class="fas fa-edit"></i>
              </button>

              <button class="btn btn-danger ml-2" (click)="preparaDelecao(f)" data-toggle="modal"
                data-target="#modalDelecao">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação <i class="fas fa-exclamation-triangle"></i></h4>
        </div>
        <div class="modal-body" *ngIf="funcionarioSelecionado">
          Deseja <span class="corVermelha">DELETAR</span> o(a) FUNCIONARIO <strong>{{ funcionarioSelecionado.nome
            }}</strong>?
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="deletarFuncionario()" data-dismiss="modal">Sim</button>
          <button class="btn btn-danger" data-dismiss="modal">Não</button>
        </div>
      </div>
    </div>
  </div>
</div>
