<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Inicio</div>
        <a class="nav-link" routerLink="home"
          ><div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
          Página Inicial</a
        >
        <div class="sb-sidenav-menu-heading">Cadastros</div>
        <a
          class="nav-link collapsed"
          routerLink="clientes-lista"
          data-toggle="collapse"
          data-target="#collapseLayouts"
          aria-expanded="false"
          aria-controls="collapseLayouts"
          ><div class="sb-nav-link-icon"><i class="fas fa-address-book"></i></div>
          Clientes
          <div class="sb-sidenav-collapse-arrow">
          </div>
        </a>

        <a
          class="nav-link collapsed"
          routerLink="funcionarios-form"
          data-toggle="collapse"
          data-target="#collapseLayouts"
          aria-expanded="false"
          aria-controls="collapseLayouts"
          ><div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
          Funcionarios
          <div class="sb-sidenav-collapse-arrow">
          </div>
        </a>

        <a
          class="nav-link collapsed"
          routerLink="servicos-form"
          data-toggle="collapse"
          data-target="#collapseLayouts"
          aria-expanded="false"
          aria-controls="collapseLayouts"
          ><div class="sb-nav-link-icon"><i class="fas fa-briefcase"></i></div>
          Serviços
          <div class="sb-sidenav-collapse-arrow">
          </div>
        </a>

        <a
          class="nav-link collapsed"
          routerLink="fornecedores-form"
          data-toggle="collapse"
          data-target="#collapseLayouts"
          aria-expanded="false"
          aria-controls="collapseLayouts"
          ><div class="sb-nav-link-icon"><i class="fas fa-truck"></i></div>
          Fornecedores
          <div class="sb-sidenav-collapse-arrow">
          </div>
        </a>

      <a
        class="nav-link collapsed"
        routerLink="agendamentos-form"
        data-toggle="collapse"
        data-target="#collapseLayouts"
        aria-expanded="false"
        aria-controls="collapseLayouts"
        ><div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
        Agendamentos
        <div class="sb-sidenav-collapse-arrow">
        </div>
      </a>

      <a
      class="nav-link collapsed"
      routerLink="ordens-de-servicos-form"
      data-toggle="collapse"
      data-target="#collapseLayouts"
      aria-expanded="false"
      aria-controls="collapseLayouts"
      ><div class="sb-nav-link-icon"><i class="fas fa-sticky-note"></i></div>
      Ordens de Serviço
      <div class="sb-sidenav-collapse-arrow">
      </div>
    </a>

    <a
    class="nav-link collapsed"
    routerLink="contas-receber-form"
    data-toggle="collapse"
    data-target="#collapseLayouts"
    aria-expanded="false"
    aria-controls="collapseLayouts"
    ><div class="sb-nav-link-icon"><i class="fas fa-money-bill-wave"></i></div>
    Contas a receber
    <div class="sb-sidenav-collapse-arrow">
    </div>
  </a>

  <a
  class="nav-link collapsed"
  routerLink="contas-pagar-form"
  data-toggle="collapse"
  data-target="#collapseLayouts"
  aria-expanded="false"
  aria-controls="collapseLayouts"
  ><div class="sb-nav-link-icon"><i class="fas fa-wallet"></i></div>
  Contas a pagar
  <div class="sb-sidenav-collapse-arrow">
  </div>
</a>
      </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logado como:</div>
        Não implementado ainda...
      </div>
  </nav>
</div>
