<h1 class="mt-4 col-md-6">Contas a receber</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container-fluid">
      <!--alerta inicio-->
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success" role="alert" *ngIf = "menssagemSucceso">
            {{ menssagemSucceso }}
          </div>
          <div class="alert alert-danger" role="alert" *ngIf = "menssagemErro">
            {{ menssagemErro }}
          </div>
        </div>
      </div>
        <!--alerta fim-->
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click)="novoCadastro()"><i class="fa fa-plus"></i> Novo</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condense table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Emissão</th>
            <th>Vencimento</th>
            <th>Valor</th>
            <th>Valor recebido</th>
            <th>Recebimento</th>
            <th>Status</th>
            <th>Cliente</th>
            <th>Ordem de serviço</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of contasReceber">
            <td>{{c.id}}</td>
            <td>{{c.emissao}}</td>
            <td>{{c.vencimento}}</td>
            <td>{{c.valor}}</td>
            <td>{{c.valorRecebido}}</td>
            <td>{{c.recebimento}}</td>
            <td>{{c.status}}</td>
            <td>{{c.cliente?.nome}}</td>
            <td>{{c.ordemServico?.id}}</td>
            <td>
              <button class="btn btn-primary" routerLink="/contas-receber/form/{{c.id}}">
                <i class="fas fa-edit"></i>
              </button>

              <button class="btn btn-danger ml-2" (click)="preparaDelecao(c)" data-toggle="modal" data-target="#modalDelecao">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="modalDelecao" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Confirmação <i class="fas fa-exclamation-triangle"></i></h4>
          </div>
          <div class="modal-body" *ngIf="contaReceberSelecionada">
              Deseja <span class="corVermelha">DELETAR</span> a conta <strong>{{ contaReceberSelecionada.id }}</strong>?
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" (click)="deletarContaReceber()" data-dismiss="modal">Sim</button>
            <button class="btn btn-danger" data-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
  </div>
</div>
